<!DOCTYPE html>
<html>
    <header></header>
    <body>
        <p>課金履歴</p>
        <table>
            <tr>
                <th>課金日</th>
                <th>課金額</th>
                <th>結果</th>
                <th>備考</th>
                <th>編集</th>
            </tr>
            <tr th:each="allData : ${allData}">
                <td th:text=${allData.date}></td>
                <td th:text=${allData.billing}></td>
                <td th:text=${allData.result}></td>
                <td th:text=${allData.remarks}>備考</td>
                <td><a th:href="@{/edit/{id}(id=${allData.id})}">編集</a>
                    <a href="\applicationhistory" type="submit" name="delete" th:value="${allData.id}" onclick="return confirm('削除します。\n よろしいですか？')">削除</a></td>
            </tr>
        </table>
        <p th:text="'累計課金額:' + ${total}  + '円'"></p>
        <a href="\input">入力画面へ</a> <a href="\applicationhistory">アプリ一覧へ</a>
    </body>
</html>