<!DOCTYPE html>
<html>
    <header></header>
    <body>
        <form action="#" method="POST" th:each="data : ${data}">
            <p>課金日<br>
                <input type="date" name="date"  th:value="${date}"></p>
            <p>課金額<br>
                <input type="number" name="billing" th:value="${data.billing}">円</p>
            <p>アプリ名<br>
                <input type="text" name="appName" th:value="${data.application}"></p>
            <p>ガチャ結果(任意) <br>
                <select name="result">
                    <option th:each="assesment : ${assesment}" th:text="${assesment}" th:selected="${assesment == data.result}"></option>
                </select></p>
            <p>備考<br>
                <textarea rows="4" cols="30" name="remarks" th:value="${data.remarks}"></textarea>
            </p>
            <p><input type="submit" value="登録"></p>
        </form>
        <p><a href="javascript:history.back()">履歴画面へ</a></p>
    </body>
</html>