<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.billing.mappers.ApplicationMapper">
    <!-- 結果と結果を受け取るクラスの紐づけ -->
    <resultMap id="applicationResultMap" type="com.example.billing.domains.Application">
      <result property="id" column="id" />
      <result property="date" column="date"/>
      <result property="billing" column="billing"/>
      <result property="application" column="application"/>
      <result property="result" column="result"/>
      <result property="remarks" column="remarks"/>
    </resultMap>
    <!-- SQL -->
    <select id="applicationAll" resultMap="applicationResultMap">
        SELECT DISTINCT application FROM billing;
    </select>
    <select id="totalBilling" resultMap="applicationResultMap">
        SELECT SUM(billing) FROM billing;
    </select>
    <insert id="addData" parameterType="com.example.billing.domains.Application">
        INSERT INTO billing(date, billing, application, result, remarks) VALUES (#{date}, #{billing}, #{application}, #{result}, #{remarks});
    </insert>
    <select id="showResultData" resultMap="applicationResultMap">
        SELECT date, billing, application, result, remarks FROM billing WHERE id = (SELECT MAX(id) from billing);
    </select>
    <select id="showTotalBillingOfApp" resultMap="applicationResultMap">
        SELECT DISTINCT SUM(billing) from billing WHERE application = (SELECT application from billing WHERE id = (SELECT MAX(id) from billing));
    </select>
</mapper>